.process{
	background-color: #2D3142;
	-webkit-transition: transform .7s ease-in-out;
	-moz-transition: transform .7s ease-in-out;
	-ms-transition: transform .7s ease-in-out;
	-o-transition: transform .7s ease-in-out;
	transition: transform .7s ease-in-out;
	z-index: 1000;

}
.navbar{
	-webkit-box-shadow: none; 
	box-shadow: none;
	background-color: #2D3142;
	z-index: 1000;
	padding: 1%;
}

.homePage
{
	/* background-color: #12424A; */
	font-family: Montserrat;
	font-size: 20pt;
	overflow: hidden;
	z-index: 2;
	position: relative;
	height: 100%;
}

.bar {
	display: block;
	height: 5px;
	width: 50px;
	background-color: #EF8354;
	margin: 10px auto;
  }
  
  .button {
	cursor: pointer;
	display: inline-block;
	width: auto;
	margin: 0 auto;
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-ms-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
  }
  .bar {
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-ms-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
  }
  
  .nav-right.visible-xs .active .bar {
	background-color: #FFF;
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-ms-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
  }
  
  .button.active .top {
	-webkit-transform: translateY(15px) rotateZ(45deg);
	-moz-transform: translateY(15px) rotateZ(45deg);
	-ms-transform: translateY(15px) rotateZ(45deg);
	-o-transform: translateY(15px) rotateZ(45deg);
	transform: translateY(15px) rotateZ(45deg);
  }
  
  .button.active .bottom {
	-webkit-transform: translateY(-15px) rotateZ(-45deg);
	-moz-transform: translateY(-15px) rotateZ(-45deg);
	-ms-transform: translateY(-15px) rotateZ(-45deg);
	-o-transform: translateY(-15px) rotateZ(-45deg);
	transform: translateY(-15px) rotateZ(-45deg);
  }

  .nav-right {
	position: fixed;
	right: 40px;
	top: 20px;
  }

  .hidden-xs {
  display: none;
}
  
  .button.active .middle {
	width: 0;
  }


  .homePageContainer
{
	display: flex;
	height: 100vh;
	max-width: 100vw;
}

.sun{
	position: fixed;
	bottom: 44%;
	left: 5%;

}


.sun img{
	max-width: 640px;
	max-height: 452px;
}

.sun p {
	position: absolute;
	color: white; 	
	width: 100%;
	z-index: 1000;
	text-align: justify,center;
	max-width: 420px;
	max-height: 300px;
	font: 56% Ringside Regular A,Ringside Regular B,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
	text-align: justify;
	text-indent: 2%;
	font-weight: 400;

}

.textOnImage { 
	bottom: 40%;
	left: 16%;
	padding: 2%; 
}

.titleOnImage { 
	bottom: 78%;
	text-align: center;
	font-weight: bolder;
	color: white; 
	padding-left:44%; 

}


 .sun p a {
	max-width: 450px;
	letter-spacing: 2px;  
 }

.homepageRoad{
	position: fixed;
	bottom:20%;
	height: 100%;
	max-height: 160px;
	width: 100%;
	background-color: #333333;
}

.grassB{
	position: fixed;
	width:65%;
	bottom:36%;
	border-top-right-radius: 100%;
	height: 100px;
	z-index: 1000;
	background: #3B5323;
}
.grassC{
	position: fixed;
	width:55%;
	bottom:36%;
	right:0px;
	border-top-left-radius: 100%;
	height: 200px;
	z-index: 10;
	background: #526F35;
}

.homePageDivider{
	position: absolute;
	width: 100%;
	bottom:50%;
	border: 5px dotted white;
}

.mining{
	left:17%;
}

.manufacturing{
	left:37%;
}

.testing{
	left:57%;
}


.trading{
	left:77%;
}

.homePageBall 
{
	position: fixed;
	color: white;
	text-align: center;
	max-height: 100px;
	max-width: 100px;
	border-radius: 60px;
	z-index: 1000;
	bottom: 8%;
 }

 .homePageBall img
 {
	text-align: center;
	line-height: 120px;
	max-height: 100px;
	max-width: 100px;
	border-radius: 60px;
}

.car{
	position: fixed;
	bottom:25%;
	max-width:200px;
	z-index: 1000;
	-webkit-animation: movebotcar 25s infinite; 
}

.glow{
	background: yellow;
	box-shadow: 0px -2px 36px orange;
}

@keyframes movebotcar {
	from {right : 100%;}
	to {right: -15%; bottom:25%}
}

@media only screen and (max-width: 802px) {
	.homePageBall{
		width: 19%;
		height: 8%;
		bottom: 10%;
	}
	.homePageBall img
	{
		width: 70%;
		height: 70%;
	}

	.homepageRoad{
		height: 10%;
	}

	.sun{
		left: 0%;
		width: 100%;
		bottom: 36%;
	}
	
	.sun img{	
		width: 115%;	
	}

	.sun p{
		max-width: 300px;
		max-height: 300px;
		font-size: 40%;

	}

	.sun p a {
		max-width: 400px;
		max-height: 500px;
		letter-spacing: 2px;  
	}

	 .textOnImage {
		color: white;
		left: 17%; 
		bottom: 30%;
	}

	.sun .p .titleOnImage { 
		bottom: 73%;
		padding-left:29%; 	
	}
	
	.car{
		bottom:25%;
		width: 20%;
	}

	.homePageDivider{
		border: 2px dotted white;
	}

	.grassB{
		height:10%;
		bottom:30%;
	}
	.grassC{
		height:10%;
		bottom:30%;
	}

	footer{
		font: 7px sans-serif;
	}

	.mining{
		left:5%;
	}
	
	.manufacturing{
		left:30%;
	}
	
	.testing{
		left:55%;
	}
	
	
	.trading{
		left:80%;
	}

	@keyframes movebotcar {
		from {right: 100%;}
		to {right: -15%; bottom:25%}
	}

}


